:root{
  --custom-blue: #00008b;
}

.btn-outline-info {
    --bs-btn-color: #00008b;
    --bs-btn-border-color: #00008b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #00008b;
    --bs-btn-hover-border-color: #00008b;
    --bs-btn-focus-shadow-rgb: 31, 155, 207;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #00008b;
    --bs-btn-active-border-color: #00008b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #9c9c9f;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #9c9c9f;
    --bs-gradient: none;
}

.rc-slider-track {
    background-color: var(--custom-blue);
}

.rc-slider-handle {
  border: solid 2px var(--custom-blue)
}

.rc-slider-handle-click-focused:focus {
  border-color: var(--custom-blue);
}

.rc-slider-dot-active {
  border-color: var(--custom-blue);
  border: solid 2px var(--custom-blue);
}

.rc-slider-handle:hover {
  border-color: var(--custom-blue);
}

.rc-slider-handle-active:active {
  border-color: var(--custom-blue);
}

.dash-input{
  border: 1pt
}
